body {
    background-color: #127cc1;
}
button {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    fill: #fff;
    color: #fff;
    background-color: #FFFFFF36;
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-radius: 8px 8px 8px 8px;
    border-color: #fff;
    padding: 8px;
}
button:hover {
    background-color: #FFFFFF50;
    cursor: pointer;
}
button#openRemitentes {
    display: block;
    margin: 10px 0 0 0;
}